<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Portfolio.API.exe" arguments=".\Portfolio.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <!-- URL Rewrite to add CORS headers and handle OPTIONS -->
      <rewrite>
        <rules>
          <rule name="Handle OPTIONS" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
            </conditions>
            <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
            <serverVariables>
              <set name="RESPONSE_Access_Control_Allow_Origin" value="*" />
              <set name="RESPONSE_Access_Control_Allow_Methods" value="GET, POST, PUT, DELETE, OPTIONS, PATCH" />
              <set name="RESPONSE_Access_Control_Allow_Headers" value="Content-Type, Authorization, Accept, X-Requested-With, Origin" />
              <set name="RESPONSE_Access_Control_Max_Age" value="86400" />
            </serverVariables>
          </rule>
        </rules>
        <outboundRules>
          <rule name="Add CORS headers">
            <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
            <action type="Rewrite" value="*" />
          </rule>
          <rule name="Add CORS methods">
            <match serverVariable="RESPONSE_Access_Control_Allow_Methods" pattern=".*" />
            <action type="Rewrite" value="GET, POST, PUT, DELETE, OPTIONS, PATCH" />
          </rule>
          <rule name="Add CORS headers list">
            <match serverVariable="RESPONSE_Access_Control_Allow_Headers" pattern=".*" />
            <action type="Rewrite" value="Content-Type, Authorization, Accept, X-Requested-With, Origin" />
          </rule>
        </outboundRules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D9F3F076-206E-4073-9C1C-22DC0133FC30-->